.run-view {
    .left-tools-bar {
        border-color: $base-border-color;
        // background-color: $base-top-menu-bar-background;
    }
    .main-view {
        .top-tools-bar {
            border-color: $base-border-color;
            color: $text-color;
            .checked {
                border-color: $base-border-color;
                background-color: #A0DCED;
            }
        }
        .logs-view {
            .logs-view-left {
                border-color: $base-border-color;
            }
        }
    }
}